<div class="banner">
  <div class="container">
    <h1>Welcome to your personal <strong>movies watch list</strong> for <strong>real movie lovers</strong>!</h1>
    <p>Start creating your lists and add the movies selected by you.</p>
  </div>
</div>

<br>

<div class="list container text-center">
<h2>My Lists</h2>
</div>
 <div class="container text-center">
  <div class="row justify-content-center">
  <% @lists.each do |list| %>
  <div class="col-lg-2 col-md-4 col-sm-6 list-card p-3 rounded m-3">
    <div>
      <p><%= puts "This is #{list.name} List" %></p>
       <%= link_to list_path(list), class:"text-decoration-none" do %>
            <%= list.name %>
        <% end %>
    </div>
  </div>
  <% end %>
</div>



  <div class="container">
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary" %>
  </div>
